@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto-Bold.ttf);
}

.message {
    display: none;
    text-align: center;
    height: 100%;
    width: 100%;
}

.title {
    margin-top: 1.2em;
    color: #008BF2;
    font-size: 24px;
    margin-bottom: 30px;
    font-family: RobotoBold;
}

.error {
    border: 1px solid red !important;
}

input[type=text],
input[type=email] {
    font-family: Roboto;
    background: #000A11;
    width: 100%;
    color: #008BF2;
    font-size: 21px;
    padding: 0.6em;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    caret-color: #008BF2;
}

input::-webkit-input-placeholder {
    color: #0F4596;
    font-size: 21px;
    -webkit-text-fill-color: initial;
}

label {
    font-size: 18px;
    margin-bottom: 6px;
    text-align: left;
    font-family: Roboto;
    color: #008BF2;
    display: block;
}

.message-text {
    color: #008BF2;
    font-family: Roboto;
    vertical-align: middle;
    font-size: 2em;
    text-align: center;
    margin: 0;
    display: table-cell;
}

.button-area {
    margin: 2em auto;
    text-align: center;
}

.button-submit:focus {
    outline: none;
}

.button-submit {
    font-family: Roboto;
    font-size: 20px;
    border: none;
    padding: 16px 51.5px;
    border-radius: 28px;
    background: #008BF2;
    color: #09192E;
    transition: 0.3s ease;
}

.button-submit:hover {
    color: white;
    background: #054071;
}

.cta {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 6px;
    color: tomato;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1em;
    padding: .3em 1em;
    text-decoration: none;
}
.cta:hover {
    background-color: lightgrey;
    color: slategrey;
    text-decoration: none;
}

.modaloverlay {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    opacity: 1;
    pointer-events: all;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    z-index: 1;
    display: none;
}
.modaloverlay:target {
    display: block;
    opacity: 1;
    pointer-events: auto;
    z-index: 99999;
}
.modaloverlay .modal {
    background: #09192E;;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 1.25em;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    border-radius: 20px;
}
@media (min-width: 60em) {
    .modaloverlay .modal {
        border-radius: 20px;
        height: 75%;
        background: #09192E;;
        margin: 6em auto;
        max-height: 23em;
        max-width: 27em;
        width: 85%;
        vertical-align: middle;
    }
}
.modaloverlay .modal > iframe, .modaloverlay .modal > div {
    border: none;
    width: 100%;
    height: 100%;
}
.modaloverlay .close {
    color: #004E85;
    font-size: 36px;
    padding: 8px 12px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    z-index: 1;
    cursor: pointer;
}
